{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{%  block nav %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "create" %}">Создать задачу</a>
        </li>
{% endblock %}
{% block search %}
     {% include "partial/search.html" %}
{% endblock %}
{% block content %}
    <br/><h3>Все задачи:</h3><br/>
    <div class="row">
    {% for task in tasks %}
    <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ task.short_de }}</h4>
                        <h6>{{ task.status }}</h6>
                        <h6>{% for type in task.types.all %}{{ type.type }}
                        {% endfor %}</h6>
                    <p>{{ task.updated_at }}</p>
                        <a href="{% url "view" task.pk %}" style=" color : darkorange; text-decoration: none">Просмотреть</a>
                    </div>
                </div>
            </div>
{% endfor %}
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
    </div>
{% endblock %}