{% extends "base.html" %}

{% block title %}Просмотр Задачи{% endblock %}
{% block nav %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'create'  %}">Добавить задачу</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'update' task.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'delete' task.pk %}">Удалить</a>
    </li>
{% endblock %}

{% block content %}
    <br/><h3>{{ task.short_de }}</h3><br/>
    <p>Задача: {{ task.short_de }}</p>
    <p>Описание: {{ task.description }}</p><br/>
    <p>Статус: {{ task.status }}</p><br/>
    <p>Тип: {% for type in task.types.all %}{{ type.type }}
                        {% endfor %}</p>

     <a href="{% url "list_project_view" %}" style=" color : darkorange; text-decoration: none">На главную</a>
{% endblock %}
