{% extends "base.html" %}

{% block title %}Просмотр Задач{% endblock %}


{% block content %}<br/>
     <div class="row">
     {% for project in project %}
    <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ project.short_de }}</h3><br/>
                        <p>Задача: {{ project.short_de }}</p>
                        <p>Описание: {{ project.description }}</p><br/>
                        <p>Статус: {{ project.status }}</p><br/>
                        <p>{% for type in project.types.all %}
                            {% if type.type %}
                             Тип: {{ type.type }}
                            {% endif %}
                        {% endfor %}</p>
                        {% if request.user.is_authenticated %}
                        <a class="nav-link active" aria-current="page"
                         href="{% url 'TODO_list:update' project.pk %}" style="color: darkorange;
                         text-decoration: none">Редактировать</a>
                        <a class="nav-link active" aria-current="page"
                         href="{% url 'TODO_list:delete' project.pk %}" style="color: darkorange;
                         text-decoration: none">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
    </div><br/>
    <div><li>
        <a href="{% url "TODO_list:list_project_view" %}" style=" color : darkorange; text-decoration: none">На главную</a>
    </li><br/>
    </div>


{% endblock %}

