{% extends "base.html" %}

{% block title %}Просмотр проекта{% endblock %}
{% block nav %}
    {% if request.user.is_authenticated %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'create'  %}">Добавить задачу</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'update_project' project.pk %}">Изменить проект</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'delete_project' project.pk %}">Удалить проект</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <br/><h3>{{ project.name_project }}</h3><br/>
    <p>Описание: {{ project.project_de }}</p><br/>
    <p>Дата создания: {{ project.created_time }}</p><br/>
    {% if project.updated_time %}
    <p>Дата окончания: {{ project.updated_time }}</p><br/>
    {% else %}
    <p>Дата окончания: {{ '-- -- --' }}</p><br/>
    {% endif %}
    <p><a href="{% url 'view' project.pk %}" style=" color : darkorange; text-decoration: none">
        <strong> Задачи: </strong> {{ projects.objects}} </a></p>

     <a href="{% url 'list_project_view' %}" style=" color : darkorange; text-decoration: none">На главную</a>
{% endblock %}
