{% extends "base.html" %}

{% block title %}Просмотр проекта{% endblock %}
{% block nav %}
    {% if request.user.is_authenticated %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'TODO_list:create' project.pk %}">Добавить задачу</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'TODO_list:update_project' project.pk %}">Изменить проект</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'TODO_list:delete_project' project.pk %}">Удалить проект</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <br/><h3>{{ project.name_project }}</h3><br/>
    <p>Описание: {{ project.project_de }}</p><br/>
    <p>Дата создания: {{ project.created_time }}</p><br/>
    {% if project.updated_time %}
    <p>Дата окончания: {{ project.updated_time }}</p><br/>
    {% else %}
    <p>Дата окончания: {{ '-- -- --' }}</p><br/>
    {% endif %}
    <p><a href="{% url 'TODO_list:view' project.pk %}" style=" color : darkorange;
    text-decoration: none"><strong style="color: darkorange">Задачи: </strong></a></p>
    <p><strong style="color: darkorange">Участники проекта: </strong></p>
    <p>
        {% for user in users %}
            {{ user }}
        {% endfor %}
    </p>
     <a href="{% url 'TODO_list:list_project_view' %}" style=" color : darkorange; text-decoration: none">На главную</a>
{% endblock %}
