{% extends "base.html" %}

{% block title %}Просмотр проекта{% endblock %}
{% block nav %}
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="№">Редактировать</a>
    </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="№">Удалить</a>
    </li>
{% endblock %}

{% block content %}
    <br/><h3>{{ project.name_project }}</h3><br/>
    <p>Описание: {{ project.project_de }}</p><br/>
    <p>Время создания: {{ project.created_time }}</p>
    <p><a href="{% url 'view' project.pk %}"> Задачи: {{ project.task_project }} </a></p>

     <a href="{% url 'list_project_view' %}" style=" color : darkorange; text-decoration: none">На главную</a>
{% endblock %}
